/* global styles*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/*Css variables*/
:root{
    --primary-font: "Inter", sans-serif;
    --secondary-font:"Macondo", cursive;
    --primary-color:#3a2620;/*dark brown*/
    --secondary-color:#aa9581; /*light brown*/
    --highlight-color:#416a8e; /*blue*/
    --light-highlight-color:#7a9fc2;/*light blue*/

}

body{
    font-family: var(--primary-font);
}

h1,
h2,
h3{
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1, 
h2{
    text-transform: uppercase;
}

.sub-heading-color{
    color:var(--highlight-color);
}

/*global styling for all sections on site*/
.section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2{
    margin-bottom: 2rem;
}

/*Navbar styling*/
#navbar{
    background-color: var(--primary-color);
}

#navbar .logo{
    width: 30px;
}

/*header styling */
#header .lead{
    font-family: var(--secondary-font);
}

/*services*/
#services .card-footer{
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card{
    margin-bottom: 1.5rem;
}

/*Media Queries*/

/*medium screens: tablets (768px and above)*/
@media screen and (min-width:768px){
    /* to make sure all the card footers line up*/
    #services .card-body{
        min-height:191px;
    }
}
/*large screens 992px*/
@media screen and (min-width:992px){
    /* to make sure all the card footers line up*/
    #services .card-body{
        min-height:auto;
    }
}
/*extra large screens: 1200 px and above*/
@media  screen and (min-width:1200px) {
    #services .card-body{
        min-height: 220px;
    }
}
/*extra extra large screens: 1400 px and above*/
@media  screen and (min-width:1400px) {
    #services .card-body{
        min-height: 195px;
    }
}

/*redundant css*/
/* grid visualisation for CSS testing
.container, 
.row{
    border: 2px solid black;
}

.col-12{
    border:2px solid white;
    background-color: lightgrey;
} */

header{
    /* background-color: red; */
}

main{
    /* background-color: blue; */
}

footer{
    /* background-color: yellow; */
}